/*------------------------------------*\
    $BAND
\*------------------------------------*/

.band {
	padding-top: 40px;
	padding-bottom: 40px;
}

.band--primary {
	padding-top: 20px;
	padding-bottom: 0;
}
