/*------------------------------------*\
    $COURSES PORTLET
\*------------------------------------*/
.courses-portlet {
	background-color: $blue8;
	color: #fff;
	padding: 15px 10px;
}

	.courses-portlet__head {}
	.courses-portlet__body {}
