/*------------------------------------*\
    $COURSES PORTLET
\*------------------------------------*/
.courses-portlet {
	background-color: $blue8;
	color: #fff;
	padding: 30px 40px;
	@include media-breakpoint-up(lg) {
		margin: 0 15px;
	}

	.js-load-more {
		padding: 0;
		margin: 0;
		border: 0;
		background-color: transparent;
		@include square(48px);
		text-align: center;
		line-height: 48px;
		font-size: 25px;
	}

}

	.courses-portlet__head {
		font-family: $font-bold;
	}
	.courses-portlet__body {
		padding: 20px 0;
		ul {
			@include list-unstyled();
			margin-bottom: 0;

			> li {
				transition: opacity 0.3s ease-out;
				&.off {
					opacity: 0;
					height: 0;
					overflow: hidden;
				}
				&.on {
					opacity: 1;
					height: auto;
				}
			}
		}

		.course-name {
			display: block;
			padding: 12px 0;
			border-bottom: 1px solid $blue1;
			color: #fff;
			@include hover-focus-active() {
				color: #fff;
				text-decoration: none;
			}

			strong {
				font-family: $font-bold;
			}

		}

		.panel-heading a {
			position: relative;
			&:before {
				font-family: "icons-rm";
				content: "\e806";
				display: inline-block;
				border: 2px solid #fff;
				@include border-radius(50%);
				@include square(24px);
				text-align: center;
				line-height: 20px;
				margin-right: 12px;
			}

			&.collapsed:before {
				content: "\e805";
			}
		}

		.panel-collapse > div {
			padding: 12px 0;
			border-bottom: 1px solid $blue1;
			>*:last-child {
				margin-bottom: 0;
			}
		}
	}




