/*------------------------------------*\
    $ENTRY
\*------------------------------------*/

.entry {
	&.slick-slide {
		padding-left: 48px;
		padding-right: 48px;
	}

	.posted-on {
		font-size: 13px;
	}
}

	.entry__media {
		margin-bottom: 16px;
	}

	.entry__body {
		color: $blue1;

		.read-more {
			display: block;
			color: inherit;
			//font-size: 14px;
			font-family: $font-bold;
			@include hover-focus-active() {
				color: darken($blue1, 10%);
			}
			&:before {
				content: '\002F \002F';
				margin-right: 5px;
				display: inline-block;
			}
		}

		hr {
			border-top: 1px solid $blue1;
			margin-top: 8px;
			margin-bottom: 2px;
		}

		.category-why-us & {
			background-color: rgba(#fff, 0.8);
			padding: 20px;

			hr,
			.posted-on {
				display: none;
			}

			.read-more {
				width: 100%;
				@extend .btn;
				@extend .btn-primary;
				&:before {
					content: none;
				}

			}


		}

	}

	.entry__text {
		line-height: 21px;
		margin-bottom: 0;
		.category-why-us & {
			margin-bottom: 15px;
		}

		.single .entry:not(.category-why-us) & {
			display: none;
		}

	}


		.entry__title {
			text-transform: uppercase;
			&,
			a {
				color: $blue1;
				font-size: 20px;
				letter-spacing: 1px;
				@include hover-focus-active() {
					color: darken($blue1, 10%);
				}
			}
		}
