/*------------------------------------*\
    $LOGO
\*------------------------------------*/
.logo {
	.headlines__media & {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	.home & {
		img {
			width: 145px;
			height: auto;
		}
	}

}
