/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/
.site-nav {
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	background-color: #fff;
	display: none;

	ul {
		@include list-unstyled();
		margin-bottom: 0;
	}

	a {
		display: block;
		line-height: 48px;
		color: $blue1;
		@include hover-focus-active() {
			color: $blue1;
		}
	}
}

.menu-toggle {
	@include square(48px);
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 25px;
	background-color: transparent;
	@include hover-focus-active() {
		color: $blue1;
	}
}
