/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/
.site-nav {
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	background-color: $blue4;
	z-index: 1;
	max-height: 0;
	transition: max-height 0.2s;
	overflow: hidden;
	z-index: 2;

	@include media-breakpoint-up(lg) {
		background-color: transparent;
		max-height: none;
		position: static;
		float: left;
	}

	ul {
		@include list-unstyled();
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			@include clearfix();
		}

		>li {
			@include media-breakpoint-up(lg) {
				float: left;
			}
		}
	}

	a {
		display: block;
		line-height: 48px;
		color: $blue1;
		@include hover-focus-active() {
			color: $blue1;
		}

		@include media-breakpoint-up(lg) {
			padding: 0 20px;
			margin: 0 20px;
			@include hover-focus-active() {
				color: #fff;
				background-color: $blue1;
				text-decoration: none;
			}
		}

	}
}

.menu-toggle {
	@include square(48px);
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 25px;
	background-color: transparent;
	float: left;

	&:before {
		font-family: 'icons-rm';
		content: '\e800';

	}

	.nav-open & {
		&:before {
			content: '\e807';
		}
	}

	@include hover-focus-active() {
		color: $blue1;
	}

	@include media-breakpoint-up(lg) {
		display: none;
	}

}
