/*------------------------------------*\
    $SLIDER
\*------------------------------------*/

// Arrows
.slick-next,
.slick-prev {
	padding: 0;
	margin: -24px 0 0;
	font-size: 0;
	line-height: 0;
	border: 0;
	background-color: transparent;
	color: transparent;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	@include square(48px);

	&:before {
		content: '\e802';
		font-family: 'icons-rm';
		display: block;
		color: $blue1;
		line-height: 48px;
		@include square(100%);
		font-size: 25px;
	}
}

.slick-next {
	left: auto;
	right: 0;
	&:before {
		content: '\e801';
	}
}


.arrows-out {
	.slick-prev {
		left: -48px;
	}
	.slick-next {
		right: -48px;
	}
}

/**
* Graceful loading of slides
 * https://github.com/kenwheeler/slick/issues/1741
 */
.slider {
	.entry {
		display: none;
		&:first-child {
			display: block;
		}
	}

	&.slick-initialized .entry {
		display: block;
	}

}
