/*------------------------------------*\
    $SOCIALS
\*------------------------------------*/
.socials {
	ul {
		@include list-unstyled();
		@include clearfix();
		margin-bottom: 0;
	}
	li {
		float: left;
		@include square(25px);

		@include border-radius(50%);
		background-color: $blue1;
		@include hover-focus-active() {
			background-color:darken( $blue1, 10%);
		}

		+ li {
			margin-left: 10px;
		}

		&.icon a:before {
			font-family: 'icons-rm';
		}
		&.facebook a:before {
			content: '\f09a';
		}
		&.twitter a:before {
			content: '\f0e1';
		}

		a {
			position: relative;
			color: #fff;
			display: block;
			line-height: 25px;
			text-align: center;
			font-size: 14px;
			@include hover-focus-active() {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.page-head & {
		ul {
			margin-top: 11px;
		}
		float: right;

		@include media-breakpoint-up(lg) {
			margin-left: 40px;
		}

	}

	.contacts & {
		position: absolute;
		top: -60px;
		li {
			background-color: #fff;
			@include hover-focus-active() {
				background-color:darken( #fff, 10%);
			}
			a {
				color: $blue1!important;
				@include hover-focus-active() {
					color: $blue9!important;
				}
			}
		}
	}
}
