/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
 * Colors.
 */
$blue: #1c5a7d;

$blue80: rgba($blue, 0.8);
$blue70: rgba($blue, 0.7);
$blue50: rgba($blue, 0.5);
$blue20: rgba($blue, 0.2);



///$blue2: #0d405c;
//$blue3: #4d8da3;
//$blue4: #d7dee5;
//$blue5: #b7c4cf;
//$blue6: #5d7b94;
//$blue7: #9badbd;
//$blue8: #68849c;
//$blue9: #337d95;

$body-color: $blue;






/**
 * Fonts.
 */
$font-size-root: 15px;

$font-regular: 'Gotham Book', sans-serif;
$font-bold: 'Gotham', sans-serif;

$font-family-sans-serif: $font-regular;
$headings-font-family: $font-bold;





/**
 * Buttons.
 */
$btn-primary-bg: $blue;
$input-btn-border-width: 0;
$btn-border-radius: 0;





/**
 * Forms.
 */
$input-color: $body-color;
$input-border-radius: 0;





/**
 * Layout.
 */
$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 320px,
	// Medium screen / tablet
	md: 480px,
	// Large screen / desktop
	lg: 1024px,
	// Extra large screen / wide desktop
	xl: 1024px
);
