/*------------------------------------*\
    $HOME
\*------------------------------------*/
.home {
	#latest-news {

		.slider-wrapper {
			margin: 0 auto;
		}

		.slider-wrapper,
		.entry {
			width: 220px;
		}

		.entry {
			padding-bottom: 59px;
			position: relative;
		}

		.entry__footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}

		@include media-breakpoint-up(md) {
			.slick-list {
				margin: 0 15px;
			}

			.slider-wrapper {
				width: 400px;

			}
			.entry {
				width: 170px;
			}

			.slick-prev {
				left: -33px;
			}
			.slick-next {
				right: -33px;
			}
		}

		@include media-breakpoint-up(lg) {
			.slider-wrapper {
				width: 590px;

			}
			.entry {
				width: 265px;
			}

			.slick-prev {
				left: -48px;
			}
			.slick-next {
				right: -48px;
			}

		}

	}


	#about-rm {
		background-color: $blue4;

		.tabs {
			background-color: $blue5;
			color: $blue1;
		}

		.r-tabs-accordion-title {
			height: 40px;
			background-color: $blue6;
			margin-bottom: 2px;
			padding: 0 15px;
			&.r-tabs-state-active {
				background-color: transparent;
			}
		}

		.r-tabs .r-tabs-panel {
			>*:last-child {
				margin-bottom: 0;
			}

			@include media-breakpoint-up(lg) {
				padding: 30px 45px 30px;
			}
		}

		.r-tabs-anchor {
			text-transform: uppercase;
			color: #fff;
			text-decoration: none;
			line-height: 40px;
			display: block;
			font-family: $font-bold;
			@include hover-focus-active() {
				color: #fff;
			}

			@include media-breakpoint-up(md) {
				font-size: 13px;
			}

			@include media-breakpoint-up(lg) {
				font-size: 15px;
				line-height: 50px;
			}

		}

		.r-tabs-state-active .r-tabs-anchor {
			color: $blue1;
			@include hover-focus-active() {
				color: $blue1;
			}
		}

		.r-tabs .r-tabs-tab {
			@include media-breakpoint-up(md) {
				background-color: $blue3;
			}

			&.r-tabs-state-active {
				@include media-breakpoint-up(md) {
					background-color: transparent;
				}
			}
		}

		.r-tabs .r-tabs-nav {
			@include media-breakpoint-up(lg) {
				padding: 0 45px;
			}
		}


		.r-tabs-nav .r-tabs-tab {
			padding: 0 8px;
			@include media-breakpoint-up(lg) {
				padding: 0 20px;
				height: 48px;
			}

			& + .r-tabs-tab {
				margin-left: 4px;
				@include media-breakpoint-up(lg) {
					margin-left: 12px;
				}
			}
		}




	}

	#why-rm {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#000, 0.6);
		}


		background: url('../img/why-us-sm.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
		@include media-breakpoint-up(md) {
			background-image: url('../img/why-us-md.jpg');
		}
		@include media-breakpoint-up(lg) {
			background-image: url('../img/why-us-lg.jpg');
		}

		.slick-prev {
			display: none!important;
			@media screen and (min-width: 739px) {
				display: block!important;
			}
			@include media-breakpoint-up(lg) {
				display: none!important;
			}
		}

		.slick-next:before, .slick-prev:before {
			color: #fff;
		}


		.slider-wrapper,
		.entry {
			width: 235px;
		}

		.slider-wrapper {
			@include media-breakpoint-up(md) {
				margin: 0 auto;
			}
		}

		@media screen and (min-width: 739px) {
			.slick-list {
				margin: 0 15px;
			}

			.slider-wrapper {
				width: 530px;

			}

			.slick-prev {
				right: -48px;
				//display: block!important;
			}

			.slick-next {
				right: -48px;
			}
		}


	}

	#courses {
		background-color: $blue7;
		color: $blue1;

		.section-title,
		.section-subtitle{
			color: #fff;
		}
	}

	#download {
		text-align: center;
		background-color: $blue9;
		color: #fff;

		.emd_dl_rm {
			background: $blue1;
			border: 0;
			box-shadow: none;
			text-shadow: none;
			border: 0;
			padding: 0;
			margin: 0 0 30px;
			@include square(70px);
			line-height: 70px;
			text-align: center;
			@include border-radius(50%);
			@include hover-focus-active() {
				text-decoration: none;
				background: darken($blue1, 10%);
			}

			&:before {
				font-family: "icons-rm";
				content: '\f02e';
				font-size: 25px;
				line-height: 70px;
			}

			span {
				@include sr-only();
			}
		}
	}

	#contact {
		overflow: hidden;
		@include media-breakpoint-up(md) {
			position: relative;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		&, a {
			color: #fff;
			@include hover-focus-active() {
				color: #fff;
				text-decoration: none;
			}
		}

		.form-wrapper {
			background-color: $blue9;
			@include media-breakpoint-up(md) {
				background-color: rgba($blue9, 0.8);
			}
		}

		.contacts {
			background-color: $blue9;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 20px;
			@include media-breakpoint-up(md) {
				background-color: rgba($blue9, 0.8);
			}
		}
	}
}
