/*------------------------------------*\
    $HOME
\*------------------------------------*/
.home {

	#about-rm {
		background-color: $blue4;

		.tabs {
			background-color: $blue5;
			color: $blue1;
		}

		.r-tabs-accordion-title {
			height: 48px;
			background-color: $blue6;
			margin-bottom: 2px;
			padding: 0 15px;
			font-family: $font-bold;
			&.r-tabs-state-active {
				background-color: transparent;
			}
		}

		.r-tabs .r-tabs-panel {
			padding-top: 0;
			>*:last-child {
				margin-bottom: 0;
			}
		}

		.r-tabs-anchor {
			text-transform: uppercase;
			color: #fff;
			text-decoration: none;
			line-height: 48px;
			display: block;
			@include hover-focus-active() {
				color: #fff;
			}
		}

		.r-tabs-state-active .r-tabs-anchor {
			color: $blue1;
			@include hover-focus-active() {
				color: $blue1;
			}
		}
	}

	#why-rm {
		background: url('../img/black-and-white-cup-hand-mug.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		color: #fff;

		.slick-prev {
			display: none!important;
		}

		.slick-next:before, .slick-prev:before {
			color: #fff;
		}

		.entry {
			&.slick-slide {
				padding-left: 0;
				padding-right: 48px;
			}
		}

		.entry__body {
			background-color: rgba(#fff, 0.8);
			padding: 20px;

			hr,
			.posted-on {
				display: none;
			}

		}
	}

	#courses {
		background-color: $blue7;
		color: $blue1;

		.section-title,
		.section-subtitle{
			color: #fff;
		}
	}

	#download {
		text-align: center;
		background-color: $blue9;
		color: #fff;

		.emd_dl_rm {
			background: $blue1;
			border: 0;
			box-shadow: none;
			text-shadow: none;
			border: 0;
			padding: 0;
			margin: 0 0 30px;
			@include square(70px);
			line-height: 70px;
			text-align: center;
			@include border-radius(50%);
			@include hover-focus-active() {
				text-decoration: none;
				background: darken($blue1, 10%);
			}

			&:before {
				font-family: "icons-rm";
				content: '\f02e';
				font-size: 25px;
				line-height: 70px;
			}

			span {
				@include sr-only();
			}
		}
	}

	#contact {
		background-color: $blue9;
		&, a {
			color: #fff;
			@include hover-focus-active() {
				color: #fff;
				text-decoration: none;
			}
		}
		.contacts {
			font-size: 14px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}
